<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a  routerLink="/login"  class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active"
          ><i class="fas fa-lock fa-fw me-3"></i><span>Login</span></a
        >
        <a routerLinkActive="active" routerLink="/signUp" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-chart-bar fa-fw me-3"></i><span>SignUp</span></a
        >
          <a
            routerLink="/home"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true" routerLinkActive="active"
          >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home</span>
          </a>
          <a   routerLink="/orders" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Orders</span>
          </a>
         
          <a [routerLink]="['/products',1]" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active"
            ><i class="fas fa-chart-line fa-fw me-3"></i><span>Product Details</span></a
          >
          <a href="/addProduct" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Add Product</span>
          </a>
          
  
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
   
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->